@{
    ViewBag.Title = "Account at a Glance Update";
    var msg = (ViewBag.OperationStatus.Status == true)? "Data Updated": "Error Updating Data";
}

<br /> 
<h2 style="margin-left:10px;color:White">@msg</h2>


